<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541867927764-3oon1t9o0sui9mi0qciot0257r5d3jet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541867927764-3oon1t9o0sui9mi0qciot0257r5d3jet</string>
	<key>API_KEY</key>
	<string>AIzaSyCn84j9amMHXTPhmLQvTvOdb_B2Mqn5nys</string>
	<key>GCM_SENDER_ID</key>
	<string>541867927764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>swift-hotel-app</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-hotel-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541867927764:ios:23959a349384e00e88b341</string>
</dict>
</plist>